.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 15px;
    cursor: pointer;
}
.pagination li.active {
    border: 1px solid #55f;
    padding: 5px;
    margin: 9px;
}

.pagination li.disabled {
    color: gray;
}
.pagination li a:focus {
    outline: none;
}